<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings/>
	<log4net>
		<!--定义日志的目的地,debug级别日志使用它输出-->
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="Applog\\debug-log-file.txt"/>
			<param name="AppendToFile" value="true"/>
			<!--这个appender只记录debug级别的日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMax value="DEBUG"></levelMax>
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Hnader]\r\n"></param>
				<param name="Footer" value="[Footer]\r\n"></param>
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"></param>
			</layout>
		</appender>
		<!--这个appender只记录最低级别为ERROR的日志-->
		<appender name="ErrorLogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="Applog\\error-log-file.txt"/>
			<param name="AppendToFile" value="false"/>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMax value="ERROR"></levelMax>
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Hnader]\r\n"></param>
				<param name="Footer" value="[Footer]\r\n"></param>
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"></param>
			</layout>
		</appender>
		<!--定义默认日志功能-->
		<root>
			<level value="ALL"/>
			<appender-ref ref="DebugLogFileAppender"/>
			<appender-ref ref="ErrorLogFileAppender"/>
		</root>
		<logger name="NBGIS">
			<level value="ALL"></level>
			<appender-ref ref="RollingLogFileAppender"/>
		</logger>
	</log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
